*{margin: 0px;padding: 0px;font-family: 'iconfont','微软雅黑';}
body html{height: 100%;}
a { text-decoration:none; }
.w320{width:320px;margin: 0px auto;}
.w100{width: 100%;}
@media screen and (min-width: 768px) {
  .w100 {
    width: 768px;
    margin: 0px auto; }
}
@media screen and (max-width: 320px) {
  .w100 {
    width: 320px;
    margin: 0px auto; } 
}